/*
	Colors Used:
		#D6F5EE - Background Light Mint Green
		#C6F1E7 - Content Pane Darker Mint Green
		#495A61 - Text Grey
*/

/*Apply colors and font as base style.*/
html {
	/*Keep font and colour consistent*/
	font-family: Trebuchet MS;
	color: #495A61;
	background-color: #D6F5EE;
}

/*Standard title text font size*/
h1 { font-size: 36px; }

/*Standard text font size*/
p, a { font-size: 24px; }

/*Bar at the top for logo.*/
div.topbar {
	/*Take up all the horizontal space*/
	width: 100%;
	margin: 0;
	padding: 0;

	/*Invisible border*/
	border-color: #C6F1E7;
	border: 1px;

	/*Stick to top*/
	top: auto;
}

/*Div for centering an element in the page.*/
div.center {

	/*Mint green*/
	background-color: #C6F1E7;

	/*Align the text*/
	text-align: center;

	/*More padding on the horizontal sides.*/
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 60px;
	padding-left: 60px;

	/*Center properties using absolute positioning*/
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;

	/*Center using transforms. This isn't supported from IE8 back.*/
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}

div.dynamicform {
	/*Mint green*/
	background-color: #C6F1E7;

	/*Center properties using absolute positioning*/
	margin: 0;
	position: absolute;

	/*More padding on the horizontal sides.*/
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;

	/*Align the text*/
	text-align: center;
}

/*Border for div elements*/
div.bordered {
	border-radius: 5px;
	border-width: 2px;
	border-color: #C6F1E7;
	background-color: #C6F1E7;
	border-style: solid;
}

/*Center the logon form horizontally and vertically*/
table.logonform {
	margin: auto;
	padding-bottom: 10px;
}

/*Make rounded borders for input fields*/
input {
	border-radius: 2px;
	border-width: 0px;
	height: 20px;
}

/*Standard link styling*/
a {
	color: blue;
	text-decoration: none;
	font-weight: normal;
}

/*Links, when hovered over, will go bold and underlined*/
a:hover {
	text-decoration: underline;
	font-weight: bold;
}

/*Constant size for topbar logo*/
img.topbarlogo {
	/*Maintain aspect ratio of the image*/
	height: 77.5;
	width: 146.5;
	padding: 5px 5px 5px 5px;
}

/*Error message AJAX response font style*/
p.errormessage {
	color: red;
	font-size: 12px;
}

/*Message styling indicating operation success*/
p.successmessage {
	color: green;
	font-size: 12px;
}

/*Sidebar container, takes up right 30% space*/
.sidebarContainer {
	height: 100%;
	width: 30%;
	float: left;
}

/*Inner content styling for sidebar*/
.sidebarInner {
	height: 100%;
	padding: 5px 5px 5px 5px;
	border: #495A61 1px solid;
	min-height: 60px;
}

/*Content container, takes up left 70% space*/
.contentPaneContainer {
	height: 100%;
	width: 70%;
	float: left;
}

/*Inner content styling for main content pane*/
.contentPaneInner {
	height: 100%;
	padding: 5px 5px 5px 5px;
	border: #495A61 1px solid;
	min-height: 60px;
}

/*Style to make other elements come below any floated content*/
.clear-floated {
	clear: both;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	padding: 0;
	margin: 0;
}

/*Button standard styling*/
.button {
	transition: all 0.25s;
	width: 100%;
	background-color: #32CDA9;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
}

/*Change colour on button hover*/
.button:hover {
	background-color: #239076;
}

.button:active {
	background-color: #0f3E33;
}
